<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Les Nombrophobique Anonymes</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename = 'chiffre.jpg') }}" alt="Image avec plein de chiffres">
            <h1>Nombrophobique Anonymes</h1>
        </div>
    </header>


    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Accueil</a></li>
            <li><a href="{{url_for('don')}}" id="bouton-don">Faire un don</a></li>
            <li><a href="{{url_for('cagnotte')}}">Cagnotte</a></li>
            <li><a href="{{url_for('conditions')}}">Conditions</a></li>
        </ul>
    </nav>

    <article>
        {% block content %} {% endblock %}
    </article>
    <footer>
        <p class="footer_p">Contactez-nous :       
        <p class="footer_p">Email : contact@nombrophobique-anonymes.com</p>
        <p class="footer_p">Téléphone : +33 1 23 45 67 89</p>
        <p class="footer_p">Adresse : 123, Rue du Lorem Ipsum, 75000 Paris</p>
    </footer>
</body>
</html>