{% extends 'base.html'%}

{% block content %}

<p class="paragraphe">Lorem ipsum dolor sit amet. Ut dolore quaerat ab molestiae maiores et neque 
    blanditiis et laborum reprehenderit rem quos iure et eaque nemo et deserunt architecto? 
    Et galisum totam eum sapiente quae id enim reprehenderit ut nisi laudantium sed reiciendis 
    reprehenderit aut dicta consectetur qui fugiat suscipit!</p>

<p class="paragraphe">In quos expedita id cumque rerum sit quis iste et 
    perferendis dignissimos. Ut accusamus asperiores 
    et dolor rerum ut corrupti dolorem sed suscipit rerum eum omnis unde quo fugiat delectus est 
    libero eius. Est laboriosam possimus et aspernatur perspiciatis ab deleniti corporis aut internos dolor 
    et praesentium accusantium. Qui quibusdam optio est laudantium beatae non quam quibusdam est porro 
    velit quo molestias consequatur ut sunt modi At rerum dolorem.</p>
    
<p class="paragraphe">Non animi odio non beatae iure et iusto optio? Ut molestiae facere et iste 
    perferendis aut molestiae laborum aut atque galisum et ipsa nisi sed explicabo 
    placeat sit odio suscipit. Ut deleniti veniam non voluptas corrupti et consequatur laborum 
    aut magnam enim aut neque velit ad galisum velit. Aut voluptas tenetur et consequatur ducimus ut voluptas quae.</p>

{% endblock %}