{% extends 'base.html'%}

{% block content %}
<div class="presentation">
    <h2>Qui sommes-nous ?</h2>
        <p class="paragraphe">
        Bienvenue sur le site de l'association "Nombrophobique Anonymes". Notre communauté est dédiée à offrir du soutien, de l'information et des ressources aux personnes atteintes d'arithmophobie, une phobie rare et souvent mal comprise. Nous sommes un groupe chaleureux et bienveillant, déterminé à briser l'isolement et à aider les individus à surmonter leur peur des nombres.
        </p>

    <h2>Qu'est-ce que l'Arithmophobie ?</h2>
        <p class="paragraphe">
        L'arithmophobie est une peur intense et irrationnelle des nombres. Les personnes atteintes d'arithmophobie peuvent éprouver une anxiété démesurée en présence de nombres, en particulier des grands nombres. Cette peur peut entraîner des difficultés dans la vie quotidienne, que ce soit pour effectuer des tâches simples de calcul ou pour gérer des situations impliquant des nombres.
        </p>

    <h2>Notre Engagement : Ensemble pour surmonter notre peur des nombres</h2>
        <p class="paragraphe">
        Chez les "Nombrophobique Anonymes", nous croyons en la force de la communauté. Notre objectif est d'offrir un espace sûr et sans jugement où vous pouvez partager vos expériences avec d'autres personnes qui comprennent vos luttes. Ensemble, nous pouvons surmonter cette peur et reprendre le contrôle de nos vies.
        </p>
</div>
{% endblock %}